// Blacks
$jet: #181818;
$inkstone: #3D3D3D;
$slate: #5D5D5D;
$graphite: #666666;

// Whites
$white: #FFFFFF;
$porcelain: #F7F7F7;
$silk: #CCC;
$warm_gray: #AEA79F;
$ash: #878787;

// Purples
$aubergine: #924D8B;
$purple: #762572;
$light_aubergine: #77216F;
$mid_aubergine: #5E2750;
$dark_aubergine: #2C001E;

// Reds
$red: #c7162b;

// Oranges
$orange: #E95420;

// Yellows
$yellow: #f99b11;

// Greens
$green: #87a556;

// Blues
$blue: #19B6EE;
$linkblue: #007aa6;
$darkblue: #335280;


// Semantic colors
$primary_accent_bg_color: #1977ee;
$primary_accent_fg_color: $white;
$secondary_accent_bg_color: #1977ee;
$secondary_accent_fg_color: $white;


/***************
 * core colors *
 ***************/

/* Core colors are only used in the current file, as bases for other
   color declarations. */

$core_color_a: gtkshade(#8ab756, 1.2); /* Core color for blue widgets in TraditionalOK. */
$core_color_b: #e9efea; /* Core color for gray widgets in TraditionalOK. */

